.texto {
    width: 400px;
    height: 200px;
    background: #ffffff;
    position: relative;
    top: 500px;
    left: 1200px;
    font-family: Arial  ;
}
.h1{
    font-size:3rem;
    font-style: italic;
    font-family: 'Courier New';
    color:rgb(255, 255, 255)
}