/* === GALERÍA === */
.galeria-seccion {
  margin-top: 40px;
  text-align: center;
}

.galeria-seccion h2 {
  font-size: 1.8em;
  color: #8827ae;
  margin-bottom: 20px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.galeria img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(6, 6, 6, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(193, 10, 209, 0.35);
}
